* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: hsl(0deg, 0%, 98%);
}

body {
  padding-top: 8vh;
}

.title {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.first-line {
  font-size: 34px;
  font-weight: 200;
}

.second-line {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 40px;
}

.third-line {
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  width: 550px;
  color: rgb(157, 157, 157);
}