// Primary Colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// Neutral Colors
$dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$light-gray: hsl(0, 0%, 98%);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $light-gray;
}

body {
  padding-top: 8vh;
}

.title {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.first-line {
  font-size: 34px;
  font-weight: 200;
}

.second-line {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 40px;
}

.third-line {
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  width: 550px;
  color: rgb(157, 157, 157);
}
